.quiz-indicator-page{
    width: 100vw;
    height: 100vh;
    background: url('../../../assets/images/admin/quizIndicator.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.timer{
    color: var(--orange02, #FF6E37);
    text-align: center;
    font-family: "CJ ONLYONE NEW title";
    font-size: 10rem;
    font-style: normal;
    font-weight: 500;

    position: fixed;
    bottom: 55vh;
    right: 37vw;
}
.user-indicator-footer{
    position: fixed;
    bottom: 7vh;
    left: 38vw;
    color: #a0a0a0;
    text-align: center;
    font-family: "CJ ONLYONE NEW title";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}