.end-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('../../../assets/images/end.png');
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.end-message {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  font-size: 24px;
  margin: 0;  
}