:root {
  
  --board-w: 1600px;   /* 보드 가로 */
  --board-h: 900px;    /* 보드 세로 */
  
}

/* 페이지 전체 정렬 */
.select-avatar-page {
  /* 16:9 프레임 계산 */
  --frame-w: min(100vw, calc(100vh * 16 / 9));
  --frame-h: calc(var(--frame-w) * 9 / 16);

  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc((100vh - var(--frame-h)) / 2);
  margin-bottom: calc((100vh - var(--frame-h)) / 2);

  display: flex;
  align-items: center;   /* 수직 중앙 */
  justify-content: center; /* 수평 중앙 */

  background-image: url('../../../assets/images/login/loginBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px;
  box-sizing: border-box;
}

.avatar-button {
  
  width: 159px;
  height: 159px;
  border-radius: 50%;
  border: 2px solid orange;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.avatar-button:hover {
  
  transform: scale(1.2);
  box-shadow:  0 4px 8px rgba(0,0,0,0.2);
  border: 5px solid orange;
}

.avatar-button.selected {
  
  border: 5px solid #FF7A00; /* 더 두껍고 진한 테두리 */
  transform: scale(1.2); /* 살짝 확대 */
}

.avatar-button.selected::before {
  
  content: "";
  position: absolute;
  top: -10px; /* 버튼 기준 위치 조정 */
  left: -10px;
  width: 55px;
  height: 55px;
  background-image: url('../../../src/assets/images/avatar/avatarSelect.png'); /* 선택 상태 아이콘 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* 오른쪽 아바타 선택 박스 */
.avatar-selector {
  transform: scale(0.67);
  transform-origin: center center;
  display: flex;
  width: 1410px;
  height: 1009px;
  padding: 102px 143px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;

  border-radius: 26px;
  border: 1px solid var(--grey04, #D9D9D9);
  background: var(--white, #FFF);
}

.avatar-buttons {
  display: grid;
  grid-template-columns: repeat(6, 159px); /* 5 x 2 레이아웃 */
  justify-content: center;
  gap: 28px 36px; /* row / column gap */
  width: auto;
  margin-top: 64px;
  margin-bottom: 56px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px; /* 버튼 사이 간격 */
  width: 100%;
  margin-top: 16px;
}

/* 시작 버튼 */
.start-button {
  display: flex;
  width: 549px;
  height: 75px;
  padding: var(--sds-size-space-300) 28px;
  justify-content: center;
  align-items: center;
  gap: var(--sds-size-space-200);

  border-radius: 60px;
  background: linear-gradient(315deg, #FFAF2F 0%, #FF6620 100%);
  font-weight: bold;
}

.back-button {
  display: flex;
  width: 549px;
  height: 75px;
  padding: var(--sds-size-space-300) 28px;
  justify-content: center;
  align-items: center;
  gap: var(--sds-size-space-200);

  border-radius: 60px;
  background: rgba(255, 227, 179, 0.60);

  color : #FF6237;
  font-weight: bold;
}

.avatar-selector h3 {
  color: var(--grey01, #555);
  text-align: center;
  font-family: "CJ ONLYONE NEW title";
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}