/* src/components/common/PageHeader.css */

.page-header {
  display: flex;
  width: 2000px;
  padding: 24px 64px;
  align-items: flex-start;
  gap: 10px;
  padding-left: 150px;
  border-bottom: 1px solid var(--grey04, #D9D9D9);
  background: var(--grey07, #FAFAFA);
}

.title {
  color: var(--grey01, #555);
  font-family: "Pretendard Variable";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nickname {
  font-weight: 500;
}