
.login-page {
  min-height: 100vh; /* 화면 전체 높이 */
  height: 100vh;
  width: 100vw;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  /* 디자인 시안 기준 여백 (상 217.5 / 우 133 / 하 216.5 / 좌 132) */
  padding: 217.5px 133px 216.5px 132px;

  background-image: url('../../../assets/images/login/loginBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-main{
  display: flex;
  flex-direction: row;
}

.login-logo{
  height: 560px;
  width: 426px;
}



.login-container {
  display: flex;
  width: 922px;
  padding: 217.5px 133px 216.5px 132px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  border: 1px solid var(--grey04, #D9D9D9);
  background: var(--white, #FFF);
}

/* 로그인 제목 */
.login-title {
  color: var(--grey01, #555);
text-align: center;
font-family: "CJ ONLYONE NEW title";
font-size: 1.8125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* 입력 필드 영역 */
.login-input {
  display: flex;
height: 78px;
padding: var(--sds-size-space-300) 28px;
padding-left: 18px;
align-items: center;
gap: var(--sds-size-space-300);
align-self: stretch;
border-radius: 60px;
border: 3px solid var(--grey05, #EDEDED);
background: var(--white, #FFF);
margin-bottom: 42px;
}

.login-input label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.login-input input {
  padding: 0.6rem;
  border: 0px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background: var(--white, #FFF);
  width: 70%;
  outline: none;
  color : grey;
}

.login-input input::placeholder {
  color: #D9D9D9;
}

.login-submit {
  display: flex;
height: 75px;
width: 657px;
padding: var(--sds-size-space-300) 28px;
justify-content: center;
align-items: center;
gap: var(--sds-size-space-200);
align-self: stretch;

border-radius: 3.75rem;
background: linear-gradient(315deg, #FFAF2F 0%, #FF6620 100%);

font-size : 1.75rem;
}

.login-submit:hover {
  background-color: #333;
}

.login-submit:active {
  background-color: #222;
}

@media (max-width: 1024px) {
  .login-page {
    padding: 48px 24px; /* 모바일/태블릿에서는 여백 축소 */
  }
  .login-box {
    width: 100%;
    max-width: 922px;
    padding: 24px; /* 내부 여백도 축소 */
  }
}